
@using WebSiteBanSach.Models;
@model Sach
@{
    ViewBag.Title = "XemChiTiet";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}
@*thông tin sách chi tiết*@
@section NoiDungBenPhai{

    <div id="HinhAnh">
        <img src="@Url.Content("~/HinhAnhSP/"+Model.AnhBia)" width="200" height="250">
    </div>

    <div id="ThongTin">
        <div id="TenSach">@Model.TenSach</div>
        <div id="ChuDe">Chủ đề: @Model.MaChuDe</div>
        <div id="NhaXuatBan">Nhà xuất bản: @Model.MaNXB</div>
        <div id="TieuDe">Nội dung tóm tắt:</div>
        <div id="MoTa">@Html.Raw(@Model.MoTa)</div>
        <div id="Gia">
            <span style="color:green; font-weight:normal;">Giá: </span>
            <span id="Gia">@string.Format("{0:0,0}", @Model.GiaBan) vnđ</span>
        </div>
        @using (Html.BeginForm("ThemGioHang", "GioHang", new { @MaSach = Model.MaSach, @strURL = Request.Url.ToString() }))
        {
            <div> <input type="submit" style="cursor:pointer" value="Mua ngay" id="btnGioHang" class="btn btn-primary"> </div>

        }
    </div>
    <div style="clear:both"></div>
}
<style>
    /*css thông tin sách*/
    #HinhAnh {
        float: left;
    }

    #ThongTin {
        float: left;
        width: 400px;
        margin-left: 10px;
    }

    #TenSach {
        font-weight: normal;
        font-size: 10pt;
        height: auto;
        word-wrap: break-word; /*canh ndung tự xuống dòng*/
        color: red;
    }

    #ChuDe, #NhaXuatBan {
        font-size: 10pt;
        color: black;
        font-weight: normal;
        height: auto;
    }

    #MoTa {
        font-size: 10pt;
        font-weight: normal;
        color: black;
        word-wrap: break-word;
        height: auto;
    }

    #Gia span#Gia {
        font-weight: normal;
        color: red;
        font-size: 10pt;
        height: auto;
    }

    #Gia span#TieuDe {
        color: green;
        font-weight: normal;
    }

    #TieuDe {
        color: green;
        font-weight: normal;
    }

    #btnGioHang {
        font-family: 'FontAwesome','Segoe UI';
        font-size: 10pt;
        font-weight: normal;
        background-color: red;
        color: white;
        border: none;
    }

        #btnGioHang:hover {
            background-color: #a30a11;
        }
</style>